:root {
  --primary: #49cc49;
  --danger: #ff6f47;
  --add-button: #d88771;
}

@keyframes removeTodo {
  from {
    opacity: 1;
    transform: rotate(0) translateY(0);
  }
  to {
    opacity: 0;
    transform: rotate(2deg) translateY(2rem);
  }
}

.remove-todo {
  animation: removeTodo 0.5s forwards ease-in-out;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  color: #383838;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

main {
  background-image: linear-gradient(120deg, #f6d365, #fda085);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

h1 {
  color: #fff;
  font-size: 3.5rem;
  margin: 5rem 0;
  text-align: center;
}

button {
  cursor: pointer;
}

.form-group {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.form-group form {
  display: flex;
}

.form-group button {
  background-color: #fff;
  color: #fff;
  border: none;
  font-size: 2rem;
  font-weight: 900;
  margin-left: 0.5rem;
  padding: 0.5rem;
  transition: background-color 0.2s ease-in-out;
}

.form-group button > span {
  background-color: var(--add-button);
  border-radius: 3px;
  display: inline-block;
  padding: 0 0.5rem;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.form-group button:hover {
  background-color: var(--add-button);
}

.form-group button:hover > span {
  background-color: #fff;
  color: var(--add-button);
}

.form-group button > span::after {
  content: "\271A";
}

.form-group input {
  font-size: 1.6rem;
  color: inherit;
  width: 30rem;
}

.select {
  margin-left: 1rem;
  position: relative;
}

.select,
select {
  cursor: pointer;
}

select {
  -moz-appearance: none;
  appearance: none;
  border: none;
  color: var(--danger);
  font-weight: 500;
  height: 100%;
  padding-left: 1rem;
  width: 10rem;
}

.select::after {
  background-color: var(--danger);
  bottom: 0;
  color: #fff;
  align-items: center;
  content: "\25BC";
  display: flex;
  font-size: 1.5rem;
  padding: 0 0.5rem;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.select:hover::after {
  background-color: #fff;
  color: var(--danger);
}

ul {
  margin: 0 auto;
  height: 26rem;
  max-width: 70rem;
  overflow-y: auto;
  padding: 0 1.5rem;
}

li {
  align-items: center;
  background-color: #fff;
  display: flex;
}

li[data-complete="true"] {
  opacity: 0.75;
}

li[data-complete="true"] > p {
  text-decoration: line-through;
}

li:not(:last-child) {
  margin-bottom: 1rem;
}

li > p {
  flex: 1;
  font-size: 1.6rem;
  padding: 0.5rem 0.8rem;
}

.check-button,
.times-button {
  border: none;
  color: #fff;
  font-size: 2rem;
  padding: 0.3rem 0.7rem;
}

.check-button {
  background-color: var(--primary);
}

.check-button:after {
  content: "\2714";
}

.times-button {
  background-color: var(--danger);
}

.times-button:after {
  content: "\2718";
}
